<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>students</h2>
<div>
    <a href="/add_students.html">添加</a>
</div>
<div>
{#    <ul>#}
{#        {% for cls in cls_list %}#}
{##}
{#            <li>{{ cls.title }}</li>#}
{##}
{#            {% empty %}#}
{##}
{#            <li>没有学生</li>#}
{##}
{#        {% endfor %}#}
{#    </ul>#}
    <table border="1">
        <thead>

        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>班级</th>
            <th colspan="3">操作</th>
        </tr>
        </thead>

        <tbody>
            {% for stu in stu_list %}
                <tr>
                    <td>{{ stu.id }}</td>
                    <td>{{ stu.username }}</td>
                    <td>{{ stu.age }}</td>
                    <td>{{ stu.gender }}</td>
                    <td>{{ stu.cs.title}}</td>
                    <td><a href="/del_students.html?sid={{ stu.id }}">删除</a></td>
                    <td><a href="/edit_students.html?sid={{ stu.id }}">编辑</a></td>

                </tr>


            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>